body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    color: #333;
  }

  footer {
    width:100%;
    margin:0px;
    color: #fff !important;
    padding: 20px;
    text-align: center;
  }
  footer .row .col-4 p, footer .row .col-4 a, footer .row .col-4 a, footer small{
    color: #c5c9d3 !important;
  }

  
  /* Animation pour  mobile navbar dropdown */
  .navbar-collapse {
    display: block !important;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: max-height 0.35s ease, opacity 0.35s ease;
  }
  .navbar-toggler{
    border: none;
    background: transparent;
  }
  .navbar-collapse.show {
    opacity: 1;
  }
  
  @media (min-width: 992px) {
    .navbar-collapse {
      max-height: none;
      opacity: 1;
    }
    .space {
      height: 7vh;
    }
  }
  .space {
    height: 5vh;
  }