body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    color: #333;
  }

  footer {
    color: #fff !important;
    padding: 20px;
    text-align: center;
  }
  footer .row .col-4 p, footer .row .col-4 a, footer .row .col-4 a, footer small{
    color: #c5c9d3 !important;
  }
  
  /* Animation pour  mobile navbar dropdown */
  .navbar-collapse {
    display: block !important;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: max-height 0.35s ease, opacity 0.35s ease;
  }
  .navbar-toggler{
    border: none;
    background: transparent;
  }
  .navbar-collapse.show {
    opacity: 1;
  }
  
  @media (min-width: 992px) {
    .navbar-collapse {
      max-height: none;
      opacity: 1;
    }
    .space {
      height: 7vh;
    }
  }
  .space {
    height: 5vh;
  }

/* HERO */
.hero {
  height: 50vh;
  background: linear-gradient(rgba(31,60,136,0.4), rgba(31,60,136,0.4)),
              url('https://images.unsplash.com/photo-1521737604893-d14cc237f11d') center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}
.btn {
   padding-top: 1%;
   background-color: aqua;
   font-family: 'Times New Roman', Times, serif;
   
}

.btn a:hover {
    color: red;
}

.btn a:active {
    color: #333;
}
main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 40px;
}

h2 {
    text-align: center;
    margin: 30px 0 20px;
    color: #333;
}

.owner-section {
    margin-bottom: 50px;
    text-align: center;
    justify-content: center;
}

.team-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.team-card {
    width: 250px;
    text-align: center;
    background: #f9f9f9;
    padding: 20px;
    border-radius: 10px;

}

.owner {
    background: #e8f4f8;
    border: 2px solid #007bff;
    margin: 0 auto;
}

.team-card img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
    text-align: center;
}

.team-card h3 {
    margin: 10px 0;
    font-size: 18px;
}

.team-card p {
    color: gray;
    margin: 0;
}